.slick-lightbox{
    button.slick-lightbox-close{
        &:hover{
            background-color: transparent!important;
        }
    }
    .slick-lightbox-close{
        &:before{
            color: #000;
            font-size: 50px;
        }
    }    
}
