body.tax-product_category{
    #content-wrap{
        width: 100%;
        min-width: 100%!important;
    }
    header.custom_tax_header{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 10% 60%;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* filter: grayscale(100%); */
        padding: 0;
        min-height: 400px;
        div.overlay-achive-page{
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            z-index: 4;        
        }
        h1.custom-tax-title{
            min-width: 25rem;
            border-width: 0.875rem;
            /* padding: 3.75rem; */
            border-color: rgba(255, 255, 255, 0.8);
            z-index: 5;
            border-style: solid;
            color: #fff;
            font-size: 50px;
            padding: 20px;
            /* height: 50px; */
            font-size: 30px;
            text-align: center;
            @media screen and ( min-width: 768px){
                font-size: 35px;
            }
            @media screen and ( min-width: 992px){
                font-size: 50px;
            }        
        }
    }
    section.archive-description{
        margin-top: 15px;
        margin-bottom: 15px;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #867e79;
            line-height: 1.85;
            max-width: 90%;
            margin: 0 auto;
            padding: 0px 0px 0px 20px;   
            border-left: 1px solid;
            text-align: left;
            @media screen and (min-width:992px){
                font-size: 20px;
            }
            &:last-child{
                border-bottom: 1px solid;
                padding-bottom: 10px;
            }
        }
    }
    div.product_grid{
        /*border: 1px solid #f00;*/
        width: 1200px;
        max-width: 90%;
        margin: 0 auto ;    
        /*text-align: center; */
        a{
            display: block;
            float: left;
            width: 25%;
            overflow: hidden;
            position: relative;
            background: #FFFFFF;
            margin: 0 0px 20px 0;
            &:hover{
                box-shadow: 1px 0px 3px #000;
                /*border: 1px solid;*/
            }
            @media screen and (max-width: 1400px){
                width: 25%;
            }
            @media screen and (max-width: 1024px){
                width: 30%;
            }
            @media screen and (max-width: 500px){
                width: 100%;
            }            
            img{
                width: 100%;
            }
            h3{
                margin-top: 10px;
                text-align: center;
                &:hover{
                    color: rgb(207,4,0)!important;
                }
            }
        }
    }
}