header.custom_tax_header{
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;  
    display: flex;
    align-items: center;
    justify-content: center;  
    filter: grayscale(100%); 
}
header.custom_tax_header h1.custom-tax-title{
    min-width: 25rem;
    border-width: 0.875rem;
    padding: 3.75rem;
    border-color: hsla(0,0%,100%,.8);
   
    border-style: solid;
    color: #fff;
    font-size: 50px;
    padding: 50px;
}
section.archive-description{
    margin-top: 15px;
    margin-bottom: 15px;
}
section.archive-description p{
    font-size: 20px;
    font-weight: 400;
    color: #867e79;
    line-height: 1.85;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px 0;    
}
