/*! 

Younes DRO https://github.com/younes-dro

*/
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Template 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General Style
--------------------------------------------------------------*/
body.single-tecnibo_product #content-wrap,
body.single-tecnibo_project #content-wrap,
body.page-template-projects-page #content-wrap,
body.tax-product_category #content-wrap,
body.post-type-archive-tecnibo_customer #content-wrap {
  padding-top: 10px;
}
body.single-tecnibo_product div#content section.tecnibo-row,
body.single-tecnibo_project div#content section.tecnibo-row,
body.page-template-projects-page div#content section.tecnibo-row,
body.tax-product_category div#content section.tecnibo-row,
body.post-type-archive-tecnibo_customer div#content section.tecnibo-row {
  width: 100%;
  margin: 50px auto;
}
body.single-tecnibo_product div.divider,
body.single-tecnibo_project div.divider,
body.page-template-projects-page div.divider,
body.tax-product_category div.divider,
body.post-type-archive-tecnibo_customer div.divider {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
body.single-tecnibo_product div.divider hr.flush,
body.single-tecnibo_project div.divider hr.flush,
body.page-template-projects-page div.divider hr.flush,
body.tax-product_category div.divider hr.flush,
body.post-type-archive-tecnibo_customer div.divider hr.flush {
  display: inline-block;
  width: 100%;
  height: 0;
  border: none;
  border-top: 0.0625rem solid #d3d3d3;
}
body.single-tecnibo_product h2.related_products_projects,
body.single-tecnibo_project h2.related_products_projects,
body.page-template-projects-page h2.related_products_projects,
body.tax-product_category h2.related_products_projects,
body.post-type-archive-tecnibo_customer h2.related_products_projects {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
@media screen and (min-width: 850px) {
  body.single-tecnibo_product h2.related_products_projects,
body.single-tecnibo_project h2.related_products_projects,
body.page-template-projects-page h2.related_products_projects,
body.tax-product_category h2.related_products_projects,
body.post-type-archive-tecnibo_customer h2.related_products_projects {
    font-size: 3rem;
  }
}
body.single-tecnibo_product h2.related_products_projects span,
body.single-tecnibo_project h2.related_products_projects span,
body.page-template-projects-page h2.related_products_projects span,
body.tax-product_category h2.related_products_projects span,
body.post-type-archive-tecnibo_customer h2.related_products_projects span {
  padding-right: 18px;
  background-color: #fff;
}
body.single-tecnibo_product h2.related_products_projects:after,
body.single-tecnibo_project h2.related_products_projects:after,
body.page-template-projects-page h2.related_products_projects:after,
body.tax-product_category h2.related_products_projects:after,
body.post-type-archive-tecnibo_customer h2.related_products_projects:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid #867e79;
  z-index: -1;
}

/*--------------------------------------------------------------
## Category Product
--------------------------------------------------------------*/
body.tax-product_category #content-wrap {
  width: 100%;
  min-width: 100% !important;
}
body.tax-product_category header.custom_tax_header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* filter: grayscale(100%); */
  padding: 0;
  min-height: 400px;
}
body.tax-product_category header.custom_tax_header div.overlay-achive-page {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 4;
}
body.tax-product_category header.custom_tax_header h1.custom-tax-title {
  min-width: 25rem;
  border-width: 0.875rem;
  /* padding: 3.75rem; */
  border-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
  border-style: solid;
  color: #fff;
  font-size: 50px;
  padding: 20px;
  /* height: 50px; */
  font-size: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body.tax-product_category header.custom_tax_header h1.custom-tax-title {
    font-size: 35px;
  }
}
@media screen and (min-width: 992px) {
  body.tax-product_category header.custom_tax_header h1.custom-tax-title {
    font-size: 50px;
  }
}
body.tax-product_category section.archive-description {
  margin-top: 15px;
  margin-bottom: 15px;
}
body.tax-product_category section.archive-description p {
  font-size: 14px;
  font-weight: 400;
  color: #867e79;
  line-height: 1.85;
  max-width: 90%;
  margin: 0 auto;
  padding: 0px 0px 0px 20px;
  border-left: 1px solid;
  text-align: left;
}
@media screen and (min-width: 992px) {
  body.tax-product_category section.archive-description p {
    font-size: 20px;
  }
}
body.tax-product_category section.archive-description p:last-child {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
body.tax-product_category div.product_grid {
  /*border: 1px solid #f00;*/
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
  /*text-align: center; */
}
body.tax-product_category div.product_grid a {
  display: block;
  float: left;
  width: 25%;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  margin: 0 0px 20px 0;
}
body.tax-product_category div.product_grid a:hover {
  box-shadow: 1px 0px 3px #000;
  /*border: 1px solid;*/
}
@media screen and (max-width: 1400px) {
  body.tax-product_category div.product_grid a {
    width: 25%;
  }
}
@media screen and (max-width: 1024px) {
  body.tax-product_category div.product_grid a {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  body.tax-product_category div.product_grid a {
    width: 100%;
  }
}
body.tax-product_category div.product_grid a img {
  width: 100%;
}
body.tax-product_category div.product_grid a h3 {
  margin-top: 10px;
  text-align: center;
}
body.tax-product_category div.product_grid a h3:hover {
  color: #cf0400 !important;
}

/*--------------------------------------------------------------
## Projects Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Single Product
--------------------------------------------------------------*/
body.single-tecnibo_product section.product-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
body.single-tecnibo_product div.product-catalog,
body.single-tecnibo_product div.product-detail {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  body.single-tecnibo_product div.product-catalog,
body.single-tecnibo_product div.product-detail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
body.single-tecnibo_product div.product-catalog .product-main-image {
  height: 320px;
  position: relative;
}
body.single-tecnibo_product div.product-catalog .product-main-image .gallery-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body.single-tecnibo_product div.product-catalog .product-main-image .gallery-image .item-image {
  /*background-color: aqua;*/
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.single-tecnibo_product div.product-catalog .product-photos {
  max-height: 145px;
}
body.single-tecnibo_product div.product-detail > h4:first-child {
  font-size: 2.5em;
}
body.single-tecnibo_product div.product-detail a.fiche-technique {
  display: block;
  margin-bottom: 10px;
}
body.single-tecnibo_product div.product-detail a.fiche-technique i {
  display: inline-block;
  margin-left: 12px;
  font-size: 18px;
  margin-right: 5px;
}
body.single-tecnibo_product div.product_variations {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body.single-tecnibo_product div.product_variations div.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
body.single-tecnibo_product div.product_variations div.row a.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  body.single-tecnibo_product div.product_variations div.row a.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 576px) {
  body.single-tecnibo_product div.product_variations div.row a.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  body.single-tecnibo_product div.product_variations div.row a.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
body.single-tecnibo_product div.product_variations div.row a {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  background: #FFFFFF;
}
body.single-tecnibo_product div.product_variations div.row a:hover {
  /*box-shadow: 1px 0px 3px #000;*/
  /*border-bottom: 1px solid #fe5252;*/
}
body.single-tecnibo_product div.product_variations div.row a h3 {
  text-align: center;
  /* border: 1px solid; */
  /*background-color: #3c3b3b;*/
  color: #867e79;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
body.single-tecnibo_product div.product_variations div.row a h3:hover {
  color: #fe5252;
}

/*--------------------------------------------------------------
## Single Project
--------------------------------------------------------------*/
body.single-tecnibo_project h2.project-title {
  font-size: 2.5em;
  line-height: 1.5;
  font-weight: 300;
  color: #867e79;
}
@media (min-width: 992px) {
  body.single-tecnibo_project h2.project-title {
    font-size: 3.5em;
  }
}
body.single-tecnibo_project div.project-overview {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 850px) {
  body.single-tecnibo_project div.project-overview {
    width: 50%;
    float: left;
    /*background-color: aqua;*/
    /*padding: 20px 0;*/
  }
}
body.single-tecnibo_project div.project-overview h3 {
  font-weight: 300;
  color: #867e79;
  line-height: 1.215;
  font-size: 2.5em;
}
body.single-tecnibo_project div.project-overview p {
  padding: 0 40px 0 0;
}
body.single-tecnibo_project div.project-overview p strong {
  font-weight: 700;
  font-size: 1.5em;
}
body.single-tecnibo_project div.project-meta {
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 850px) {
  body.single-tecnibo_project div.project-meta {
    width: 50%;
    float: left;
    /* background-color: aqua; */
    padding: 20px 0;
  }
}
body.single-tecnibo_project div.project-meta p {
  background-color: #f9f9f9;
  margin: 0 0 5px;
  border-left: 4px solid #e80100;
}
body.single-tecnibo_project div.project-meta p strong {
  background-color: #f9f9f9;
}
body.single-tecnibo_project div.project-meta p strong, body.single-tecnibo_project div.project-meta p em {
  display: inline-block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}
body.single-tecnibo_project section.tecnibo-row > h4 {
  font-size: 2.5em;
}

/*--------------------------------------------------------------
## Team page
--------------------------------------------------------------*/
body.post-type-archive-tecnibo_member div.tecnibo-team {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body.post-type-archive-tecnibo_member div.tecnibo-team:after, body.post-type-archive-tecnibo_member div.tecnibo-team:before {
  display: table;
  content: " ";
}
body.post-type-archive-tecnibo_member div.tecnibo-team:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  body.post-type-archive-tecnibo_member div.tecnibo-team {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-tecnibo_member div.tecnibo-team {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  body.post-type-archive-tecnibo_member div.tecnibo-team {
    width: 1170px;
  }
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team:after, body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team:before {
  display: table;
  content: " ";
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.filters-button-group {
  text-align: center;
  padding: 10px 0px;
  line-height: 56px;
  margin: 40px auto;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.filters-button-group button.button {
  font-family: "Oswald", Sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  fill: #7A7A7A;
  color: #7A7A7A;
  background-color: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  margin-right: 12px;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.filters-button-group button.button i.fa {
  margin-right: 5px;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.filters-button-group button.button:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (min-width: 959px) {
  body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.filters-button-group button.button {
    padding: 20px 40px 20px 40px;
  }
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.filters-button-group button.button.is-checked {
  background-color: #000;
  color: #fff;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.heading-title {
  padding-left: 15px;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.heading-title h1 {
  color: #000;
  font-size: 4rem;
  font-weight: 900;
  margin: 60px 0 0;
  text-align: left;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.heading-title p {
  text-align: left;
  color: #111;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member div.member-image {
  background-position: top center;
  background-size: cover;
  border: 1px solid #fff;
  min-height: 390px;
  filter: grayscale(1);
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member div.member-image:hover {
  filter: grayscale(0);
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member div.team-title h3 {
  color: #111;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  letter-spacing: 2px;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member div.team-title h5 {
  color: #3b3b3b;
  text-transform: uppercase;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member div.social-container {
  text-align: center;
  min-height: 32px;
}
body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member div.social-container a {
  padding: 5px 15px;
}
@media screen and (min-width: 768px) {
  body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-tecnibo_member div.tecnibo-team div.row-team div.col-member {
    width: 33.33333333%;
    float: left;
  }
}

/*--------------------------------------------------------------
## Customer page
--------------------------------------------------------------*/
body.post-type-archive-tecnibo_customer div.tecnibo-customer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body.post-type-archive-tecnibo_customer div.tecnibo-customer:after, body.post-type-archive-tecnibo_customer div.tecnibo-customer:before {
  display: table;
  content: " ";
}
body.post-type-archive-tecnibo_customer div.tecnibo-customer:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  body.post-type-archive-tecnibo_customer div.tecnibo-customer {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  body.post-type-archive-tecnibo_customer div.tecnibo-customer {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  body.post-type-archive-tecnibo_customer div.tecnibo-customer {
    width: 1170px;
  }
}
body.post-type-archive-tecnibo_customer div.tecnibo-customer div.row-customer {
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
body.post-type-archive-tecnibo_customer div.tecnibo-customer div.row-customer:after, body.post-type-archive-tecnibo_customer div.tecnibo-customer div.row-customer:before {
  display: table;
  content: " ";
}
body.post-type-archive-tecnibo_customer div.customer-populated {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0;
  width: 90%;
  margin: 30px auto;
  padding: 0 0 0 10px;
}
@media screen and (min-width: 768px) {
  body.post-type-archive-tecnibo_customer div.customer-populated {
    padding: 0 0 0 5%;
  }
}
body.post-type-archive-tecnibo_customer div.customer-populated h1 {
  color: #000;
  font-size: 4rem;
  font-weight: 900;
  margin: 60px 0 0;
  text-align: left;
}
@media screen and (min-width: 992px) {
  body.post-type-archive-tecnibo_customer div.customer-populated h1 {
    /*font-size: 35px;*/
  }
}
body.post-type-archive-tecnibo_customer div.customer-item img {
  max-width: 65%;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  body.post-type-archive-tecnibo_customer div.customer-item img {
    max-width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  body.post-type-archive-tecnibo_customer div.customer-item img {
    max-width: 50%;
  }
}

/*--------------------------------------------------------------
# Slick
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## LightBoc
--------------------------------------------------------------*/
.slick-lightbox button.slick-lightbox-close:hover {
  background-color: transparent !important;
}
.slick-lightbox .slick-lightbox-close:before {
  color: #000;
  font-size: 50px;
}
.slick-lightbox .slick-next {
  right: 0;
}
.slick-lightbox .slick-prev {
  left: 0;
}

.product-photos.slick-initialized .slick-slide,
.project-photos.slick-initialized .slick-slide {
  display: block;
  /*border: 1px solid #f00;*/
  max-height: 160px;
  margin-top: 20px;
}
.product-photos.slick-initialized .slick-slide img,
.project-photos.slick-initialized .slick-slide img {
  margin: 0 auto;
  max-width: 120px;
  cursor: pointer;
  /*opacity: .8;*/
}
.product-photos.slick-initialized .slick-slide img:hover,
.project-photos.slick-initialized .slick-slide img:hover {
  box-shadow: 0px 2px 4px 1px #ccc;
}

.slick-dotted.slick-slider {
  margin-bottom: 100px;
}

.slick-prev,
.slick-next {
  top: 50%;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  z-index: 2;
  font-size: 0px;
  line-height: 50;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: transparent !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "Font Awesome 5 Free" !important;
  color: #272727;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Grid ( see details )
--------------------------------------------------------------*/
#content .items {
  margin: 0 -5px;
  padding-bottom: 5px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  #content .items {
    margin-right: -5px;
  }
}
@media screen and (max-width: 1024px) {
  #content .items {
    margin-right: -5px;
  }
}
@media screen and (max-width: 1400px) {
  #content .items {
    margin-right: -6px;
  }
}
#content .items a {
  display: block;
  float: left;
  width: 25%;
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  width: 100%;
}
@media screen and (min-width: 769px) {
  #content .items a {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  #content .items a {
    width: 33.3333%;
  }
}
#content .items a img {
  display: block;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
@media screen and (min-width: 992px) {
  #content .items a img {
    max-height: 244px;
  }
}
#content .items a:hover .hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
#content .items a:hover .hover .middle .title, #content .items a:hover .hover .middle .see {
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
  opacity: 1;
  filter: alpha(opacity=100);
}
#content .items a:hover .hover .bg {
  left: 0;
  right: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
#content .items a:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#content .items a .hover {
  position: absolute;
  top: 24px;
  left: 24px;
  right: 28px;
  bottom: 24px;
  text-align: center;
  line-height: 170px;
}
@media screen and (min-width: 501px) and (max-width: 820px) {
  #content .items a .hover {
    line-height: 130px;
  }
}
@media screen and (min-width: 821px) {
  #content .items a .hover {
    line-height: 185px;
  }
}
#content .items a .hover .bg {
  background: #ffffff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
#content .items a .hover .middle {
  position: relative;
  display: inline-block;
  width: 90%;
  text-align: center;
  line-height: normal;
  vertical-align: middle;
}
#content .items a .hover .middle .title {
  color: #272727;
  text-transform: uppercase;
  font-family: "Avenir LT W01_85 Heavy", sans-serif;
  line-height: 32px;
  font-weight: 900;
  font-size: 30px;
  padding: 0 20px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
  /* -webkit-transition: all 200ms ease-out; */
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  /* transition: all 200ms ease-out; */
  transition: all 200ms ease-out;
}
@media screen and (max-width: 850px) {
  #content .items a .hover .middle .title {
    line-height: 25px;
    font-size: 20px;
  }
}
#content .items a .hover .middle .see {
  color: #616161;
  font-family: "adobe-garamond-pro", serif;
  font-size: 17px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #616161;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
#content .items a span {
  display: block;
}

/*# sourceMappingURL=tecnibo-portfolio.css.map */
