/* 

*/

body.single-tecnibo_product #site-header.transparent-header, 
body.single-tecnibo_project #site-header.transparent-header,
body.page-template-projects-page #site-header.transparent-header,
body.tax-product_category #site-header.transparent-header{
    height: 80px;
}
body.single-tecnibo_product.has-transparent-header .page-header, 
body.single-tecnibo_project.has-transparent-header .page-header,
body.page-template-projects-page.has-transparent-header .page-header,
body.tax-product_category.has-transparent-header .page-header{

    height: 50px;
    padding: 10px;
    background-color: #fff;
    /*border: 1px solid;*/
    margin-top: 20px;
    margin-bottom: 10px;    
}
body.single-tecnibo_project .site-breadcrumbs a,body.single-tecnibo_project .background-image-page-header .site-breadcrumbs a,
body.single-tecnibo_product .site-breadcrumbs a,  body.single-tecnibo_product .background-image-page-header .site-breadcrumbs a,
body.page-template .site-breadcrumbs a, body.page-template .background-image-page-header .site-breadcrumbs a,
body.tax-product_category .site-breadcrumbs a,  body.tax-product_category .background-image-page-header .site-breadcrumbs a{
    color: #867e79;
}
body.single-tecnibo_product #content-wrap, 
body.single-tecnibo_project #content-wrap,
body.page-template-projects-page #content-wrap{
    padding-top: 10px;
}

body.single-tecnibo_product h1, body.single-tecnibo_product h2, body.single-tecnibo_product h3, body.single-tecnibo_product h4,body.single-tecnibo_product h5, body.single-tecnibo_product h6,
body.single-tecnibo_project h1, body.single-tecnibo_project h2, body.single-tecnibo_project h3, body.single-tecnibo_project h4,
body.single-tecnibo_project h5, body.single-tecnibo_project h6,
body.page-template-projects-page h1, body.page-template-projects-page h2, body.page-template-projects-page h3, body.page-template-projects-page h4,
body.page-template-projects-page h5, body.page-template-projects-page h6,
body.tax-product_category h1, body.tax-product_category h2, body.tax-product_category h3, body.tax-product_category h4,
body.tax-product_category h5, body.tax-product_category h6{
    font-family: 'Oswald', sans-serif;
    color: #867e79;
}

div#content section.tecnibo-row{
    width: 100%;
    margin: 50px auto;
}
body.single-tecnibo_product p,body.single-tecnibo_project p{
    font-family: 'Merriweather', serif;
    color: #867e79;
    font-size: 1.5em;
}
div.divider{
    width:  42%;
    max-width: 81.25em;
    margin-left: auto;
    margin-right: auto  ;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.divider hr.flush{
    display: inline-block;
    width: 100%;
    height: 0;
    border: none;
    border-top: .0625rem solid #d3d3d3;
    ;    
}

/************************* projects page template ******/
#content .items{
    margin: 0 -5px;
    padding-bottom: 5px;
    background-color: #fff;
    position: relative;
    overflow: hidden
}
#content .items  a{
    display: block;
    float: left;
    width: 25%;
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
}
.items a img {
    display: block;
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.items a .hover {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 28px;
    bottom: 24px;
    text-align: center;
}
.items a span{
    display: block;
}
#content .items a .hover .bg {
    background: #ffffff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    right: 50%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;

}
#content .items a .hover .middle {
    position: relative;
    display: inline-block;
    width: 90%;
    text-align: center;
    line-height: normal;
    vertical-align: middle;
}
#content .items a .hover .middle .title {
    color: #272727;
    text-transform: uppercase;
    font-family: "Avenir LT W01_85 Heavy", sans-serif;
    line-height: 32px;
    font-weight: 900;
    font-size: 30px;
    padding: 0 20px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, 50px);
    -moz-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px); /* -webkit-transition: all 200ms ease-out; */
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out; /* transition: all 200ms ease-out; */
    transition: all 200ms ease-out;
}
#content .items a .hover .middle .see {
    color: #616161;
    font-family: "adobe-garamond-pro", serif;
    font-size: 17px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #616161;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -ms-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
#content .items a:hover .hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#content .items a:hover img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#content .items a:hover .hover .title,
#content .items a:hover .hover .see {
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
    opacity: 1;
    filter: alpha(opacity=100);
}
#content .items a:hover .hover .bg {
    left: 0;
    right: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
@media screen and (max-width: 1400px){
    #content .items {
        margin-right: -6px;
    }
    #content .items a{
        width: 33.33%;
    }    
}
@media screen and (max-width: 1024px){
    #content .items {
        margin-right: -5px;
    }
    #content .items a{
        width: 50%;
    }
}
@media screen and (max-width: 850px){
    #content .items a .hover .middle .title {
        line-height: 25px;
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    #content .items {
        margin-right: -5px;
    }
    #content .items a{
        width: 100%;
    }
}
/* End Projects Page Template ***************************/

/******************* single project page template ******/
h2.project-title{
    font-size: 2.5em;
    line-height: 1.5;
    font-weight: 300;
    color: #867e79;    
}

div.project-overview{
    width: 100%;
    margin: 0;
    padding: 0;    
}

div.project-overview h3{
    font-weight: 300;
    color: #867e79;
    line-height: 1.215;
    font-size: 2em;
}
div.project-overview p{
    padding: 0 40px 0 0;
}
div.project-overview p strong{
    font-weight: 700;
    font-size: 1.5em;
}
div.preject-meta{
    width: 100%;
    margin: 0;
    padding: 0;
}
div.related-products{

}
@media screen and (min-width: 850px){
    div.project-meta, div.project-overview {
        width: 50%;
        float: left;
        /* background-color: aqua; */
        padding: 20px 0;
    }
}
/************************* Related Products / Projects ***/
h2.related_products_projects{
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: .01em;
    text-transform: uppercase;
    
}
h2.related_products_projects span{
    padding-right: 18px;
    background-color: #fff;    
}

h2.related_products_projects:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #867e79;
    z-index: -1;
}

@media screen and (min-width: 850px){
    h2.related_products_projects{
        font-size:3rem;
    }
}
/* End  Related Products / Projects ***********************/

/******************* Slick custom desig  ******/
.slick-initialized .slick-slide{
    padding: 10px;
}
.slick-prev,  .slick-next {
    top: 50%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
/********************************************/

/************************* Archive page  ***/

header.custom_tax_header{
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 30px;  
    display: flex;
    align-items: center;
    justify-content: center;  
    filter: grayscale(100%); 
}
header.custom_tax_header h1.custom-tax-title{
    min-width: 25rem;
    border-width: 0.875rem;
    padding: 3.75rem;
    border-color: hsla(0,0%,100%,.8);
   
    border-style: solid;
    color: #fff;
    font-size: 50px;
    padding: 50px;
}
section.archive-description{
    margin-top: 15px;
    margin-bottom: 15px;
}
section.archive-description p{
font-family: Merriweather,serif;
    font-size: 20px;
    font-weight: 400;
    color: #867e79;
    line-height: 1.85;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px 0;    
}
/********************************************/